.teacher-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.teaching-matter h1 {
    margin: 30px 25px;
    border-left: 4px solid #21485e;
    color: #21485e;
    padding-left: 10px;
}

.teaching-matter p {
    color: rgb(78, 78, 78);
    margin: 20px;
    padding: 5px 10px;
}



@media screen and (max-width:768px) {
    .teacher-section {
        flex-direction: column;
    }
}